*.class
*.log
.idea
*.iml
target
project/target
*.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
block-explorer-handler*.jar
block-explorer-api*.jar
*.pem
.terraform.lock.hcl
ec2-cluster/modules/node/data/