[Unit]
Description=Node service

[Service]
WorkingDirectory=/home/admin/tessellation/l0
User=admin
Group=admin
ExecStart=/home/admin/tessellation/l0/start

[Install]
WantedBy=multi-user.target
